# Configuración de BBVA / Openpay
OPENPAY_MERCHANT_ID=tu_merchant_id_aqui
OPENPAY_PUBLIC_KEY=tu_public_key_aqui
OPENPAY_PRIVATE_KEY=tu_private_key_aqui
OPENPAY_PRODUCTION_MODE=false

# Configuración de Base de Datos (Si difiere de la local)
DB_HOST=localhost
DB_NAME=fundacion_db
DB_USER=root
DB_PASS=
